---
import astroLogo from '../../assets/astro.svg';
---
<header class="flex justify-between items-center">
  <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
  
  <nav>
    <ul class="flex gap-2">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>